name: Claim Daily Reward

on:
  schedule:
    - cron: '0 21 * * *' # KST(UTC+21) 06:00
  workflow_dispatch:

jobs:
  claim-daily-reward:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@main

    - name: Set up Python
      run: pip install genshin

    - name: Claim daily reward
      env:
        ${{ insert }}: ${{ secrets }}
      run: python claim_daily_reward.py
